<?xml version="1.0"?>
<robot name="vehicle" xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:arg name="mowbot_model" default=""/>
  <xacro:arg name="sensor_model" default=""/>

  <!-- vehicle -->
  <xacro:property name="mowbot_model_property" value="$(arg vehicle_model)"/>
  <xacro:include filename="$(find ${mowbot_model_property}_description)/urdf/mowbot.xacro"/>

  <!-- sensors -->
  <xacro:property name="sensor_model_property" value="$(arg sensor_model)"/>
  <xacro:include filename="$(find ${sensor_model_property}_description)/urdf/sensors.xacro"/>
</robot>